<h1>Stupid coaching:</h1>
<div class="question">
  <p><%= @ask %></p>
  <p>- You</p>
</div>

<br>
<div class="answer">
  <p><%= @answer %></p>
  <p>- Your coach</p>
</div>

<%= link_to "Ask new question", ask_path %>
