// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.question {
  border-left: 5px solid rgba(0,0,0, 0.1);
  padding-left: 1em;
  font-size: 1.5em;
}

.question p:last-child {
  font-style: italic;
}

.answer {
  border-left: 5px solid rgba(0,0,0, 0.1);
  padding-left: 1em;
  font-size: 1.5em;
  background-color: #FEFEE1
}

.answer p:last-child {
  font-style: italic;
}

body {
  margin-left: 2em;
}

a {
  text-decoration: none;
  font-size: 1.2em;
}
